PII_DB_URL_KZ=postgres://postgres:admin@piidb:5432/postgres
CLINICAL_DB_URL_KZ=postgres://postgres:admin@clinicaldb:5432/postgres
MASTER_DB_URL=postgres://postgres:admin@masterdb:5432/postgres
USER_API_URL=http://user:3010
NODE_ENV=development
PORT=3006